.b-footer{
    background-color: #093e67;
    color: #ffffff;
    padding: em(25) 0;
    &__copyrights{
        $font-size: 12;
        font-size: em($font-size);
        padding-top: em(6, $font-size);

    }
    &__menu-item{
        display: inline-block;
        padding-top:em(10);
        &:before{
            content:"•";
            display: inline-block;
            font-size: 1.5em;
            line-height: 1;
            margin-right: em(2);
        }
        &:first-child:before{
            display: none;
        }
    }
    &__menu-link{
        color: #fff;
        text-decoration: none;
        font-size: em(12);
        text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }
}