.b-lfeature{
    background: url(../images/content/limage.jpg) no-repeat center 155px;
    &__border{
        border:4px solid #ffa007;
        $font-size: 20;
        font-size: em($font-size);
        color: #000;
        line-height: 1.8;
        text-align: center;
        padding: em(25, $font-size) em(110, $font-size) em(40, $font-size);
        background-color: #fff;
    }
    &__title{
        $font-size: 33;
        font-family: $secondary__font;
        text-transform: uppercase;
        font-size: em($font-size);
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        color: #1b5c9a;
        letter-spacing: -1px;
        padding-bottom: em(66, $font-size);
        &_cold{
            color: #d76a1e;
        }
    }
    &__content{
        padding-top: em(775);
        padding-bottom: em(85);
    }
}